In [3]:
import pymysql.cursors
import pandas as pd
import mysql.connector
from mysql.connector import MySQLConnection

In [4]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://oil:secret@172.18.0.5/oil?charset=utf8')

In [6]:
final = pd.read_csv('final_diesel.csv')

In [7]:
#final.set_index('YEAR_MONTH', inplace=True)
final

       YEAR_MONTH  UF            COMBUSTÍVEL UNIDADE      TOTAL
0       2013-1-01  RO  ÓLEO DIESEL S-10 (m3)      m3   3517.600
1       2013-1-01  AC  ÓLEO DIESEL S-10 (m3)      m3    363.000
2       2013-1-01  AM  ÓLEO DIESEL S-10 (m3)      m3   3190.585
3       2013-1-01  RR  ÓLEO DIESEL S-10 (m3)      m3    795.400
4       2013-1-01  PA  ÓLEO DIESEL S-10 (m3)      m3  30137.800
...           ...  ..                    ...     ...        ...
12955  2020-12-01  PA  ÓLEO DIESEL S-10 (m3)      m3        NaN
12956  2020-12-01  RR  ÓLEO DIESEL S-10 (m3)      m3        NaN
12957  2020-12-01  AM  ÓLEO DIESEL S-10 (m3)      m3        NaN
12958  2020-12-01  AC  ÓLEO DIESEL S-10 (m3)      m3        NaN
12959  2020-12-01  RO  ÓLEO DIESEL S-10 (m3)      m3        NaN

[12960 rows x 5 columns]

In [8]:
final.to_sql('stg_diesel', con = engine, if_exists = 'replace', index = False)

In [9]:
conn = mysql.connector.connect(host='172.18.0.5',
                                       database='oil',
                                       user='oil',
                                       password='secret')
cursor_create = conn.cursor()
cursor = conn.cursor()

In [18]:
 cursor_create.execute("CREATE TABLE ods_diesel PARTITION BY HASH(MONTH(`YEAR_MONTH`)) AS SELECT STR_TO_DATE(`YEAR_MONTH`, '%Y-%m-%d') AS `year_month`, UF AS ´uf´, `COMBUSTÍVEL` AS `product`, `UNIDADE` AS `unit`, `TOTAL` AS `volume`, CURRENT_TIMESTAMP() AS `created_at` FROM stg_diesel")
    
 cursor.execute("SELECT ´uf´, `product`, SUM(`volume`) FROM ods_diesel GROUP BY 1, 2 ORDER BY 3 DESC")

In [19]:
row = cursor.fetchone()

In [20]:
while row is not None:
            print(row)
            row = cursor.fetchone()

('SP', 'ÓLEO DIESEL S-500 (m3)', 57264059.04225399)
('SP', 'ÓLEO DIESEL S-10 (m3)', 35209282.408756666)
('MG', 'ÓLEO DIESEL S-500 (m3)', 34621379.99659873)
('PR', 'ÓLEO DIESEL S-500 (m3)', 29313742.495186597)
('RS', 'ÓLEO DIESEL S-500 (m3)', 18264792.83727584)
('MG', 'ÓLEO DIESEL S-10 (m3)', 15701700.369238595)
('BA', 'ÓLEO DIESEL S-500 (m3)', 15077670.712409886)
('MT', 'ÓLEO DIESEL S-500 (m3)', 13939391.969761133)
('GO', 'ÓLEO DIESEL S-500 (m3)', 13246002.384155735)
('PR', 'ÓLEO DIESEL S-10 (m3)', 11865664.322313352)
('SC', 'ÓLEO DIESEL S-500 (m3)', 11652969.556493087)
('RJ', 'ÓLEO DIESEL S-10 (m3)', 10118388.418509511)
('BA', 'ÓLEO DIESEL S-10 (m3)', 8759503.073749319)
('PA', 'ÓLEO DIESEL S-500 (m3)', 8539718.970851948)
('PE', 'ÓLEO DIESEL S-10 (m3)', 7892890.12483019)
('RJ', 'ÓLEO DIESEL S-500 (m3)', 7333643.016067636)
('RS', 'ÓLEO DIESEL S-10 (m3)', 7148668.491669529)
('MA', 'ÓLEO DIESEL S-500 (m3)', 6658806.1090365155)
('PA', 'ÓLEO DIESEL S-10 (m3)', 6581274.365859475)
('SC', 'ÓLEO DIESEL S-10 (m3)', 6397265.6630688375)
('MS', 'ÓLEO DIESEL S-500 (m3)', 6230645.275193283)
('GO', 'ÓLEO DIESEL S-10 (m3)', 6050851.560704998)
('CE', 'ÓLEO DIESEL S-10 (m3)', 5695510.725599907)
('ES', 'ÓLEO DIESEL S-500 (m3)', 5389229.050910353)
('MT', 'ÓLEO DIESEL S-10 (m3)', 5219804.002410219)
('MG', 'ÓLEO DIESEL S-1800 (m3)', 4101013.68)
('TO', 'ÓLEO DIESEL S-500 (m3)', 4087886.8190869587)
('AM', 'ÓLEO DIESEL S-1800 (m3)', 3949574.309)
('RO', 'ÓLEO DIESEL S-500 (m3)', 3933918.2603808697)
('MA', 'ÓLEO DIESEL S-10 (m3)', 3406720.0520101767)
('MS', 'ÓLEO DIESEL S-10 (m3)', 3317383.7464526994)
('PE', 'ÓLEO DIESEL S-500 (m3)', 3295554.597419726)
('SP', 'ÓLEO DIESEL S-1800 (m3)', 2940044.8010000004)
('ES', 'ÓLEO DIESEL S-10 (m3)', 2871034.242551122)
('TO', 'ÓLEO DIESEL S-10 (m3)', 2627088.0371190803)
('GO', 'ÓLEO DIESEL S-1800 (m3)', 2626545.8219999988)
('AM', 'ÓLEO DIESEL S-500 (m3)', 2547583.0404850356)
('RN', 'ÓLEO DIESEL S-500 (m3)', 2442347.738960392)
('MT', 'ÓLEO DIESEL S-1800 (m3)', 2424347.3929999997)
('PI', 'ÓLEO DIESEL S-500 (m3)', 2399305.1287385337)
('RJ', 'ÓLEO DIESEL MARÍTIMO (m3)', 2127518.668598394)
('PB', 'ÓLEO DIESEL S-500 (m3)', 2112102.594357318)
('CE', 'ÓLEO DIESEL S-500 (m3)', 2080597.6499385)
('RS', 'ÓLEO DIESEL S-1800 (m3)', 1979357.7249999996)
('PA', 'ÓLEO DIESEL S-1800 (m3)', 1789968.379)
('PI', 'ÓLEO DIESEL S-10 (m3)', 1759983.8357070293)
('AL', 'ÓLEO DIESEL S-500 (m3)', 1756464.7426651393)
('RO', 'ÓLEO DIESEL S-10 (m3)', 1700912.841253967)
('DF', 'ÓLEO DIESEL S-10 (m3)', 1440365.8871631303)
('PB', 'ÓLEO DIESEL S-10 (m3)', 1436869.0067157587)
('SE', 'ÓLEO DIESEL S-500 (m3)', 1370250.9845609216)
('DF', 'ÓLEO DIESEL S-500 (m3)', 1262633.0305851733)
('SE', 'ÓLEO DIESEL S-10 (m3)', 1199365.2903916375)
('AL', 'ÓLEO DIESEL S-10 (m3)', 1131624.3894551527)
('MS', 'ÓLEO DIESEL S-1800 (m3)', 1117078.4229999997)
('AP', 'ÓLEO DIESEL S-500 (m3)', 1115212.3488785734)
('RR', 'ÓLEO DIESEL S-500 (m3)', 1081700.6152965291)
('AM', 'ÓLEO DIESEL MARÍTIMO (m3)', 1030396.0122471915)
('AM', 'ÓLEO DIESEL S-10 (m3)', 964290.7826149864)
('RN', 'ÓLEO DIESEL S-10 (m3)', 951174.6323375812)
('PA', 'ÓLEO DIESEL MARÍTIMO (m3)', 826426.3058356337)
('AC', 'ÓLEO DIESEL S-500 (m3)', 810954.4054515874)
('SC', 'ÓLEO DIESEL S-1800 (m3)', 775774.121)
('RO', 'ÓLEO DIESEL S-1800 (m3)', 694724.425)
('RJ', 'ÓLEO DIESEL S-1800 (m3)', 651601.468)
('BA', 'ÓLEO DIESEL S-1800 (m3)', 557026.338)
('TO', 'ÓLEO DIESEL S-1800 (m3)', 514228.58499999996)
('RN', 'ÓLEO DIESEL S-1800 (m3)', 483408.876)
('AP', 'ÓLEO DIESEL S-1800 (m3)', 475832.67300000007)
('SC', 'ÓLEO DIESEL MARÍTIMO (m3)', 444443.87938808696)
('DF', 'ÓLEO DIESEL S-1800 (m3)', 362972.54299999995)
('CE', 'ÓLEO DIESEL S-1800 (m3)', 294663.829)
('ES', 'ÓLEO DIESEL MARÍTIMO (m3)', 284917.53874762054)
('SP', 'ÓLEO DIESEL MARÍTIMO (m3)', 281752.29944234726)
('RR', 'ÓLEO DIESEL S-10 (m3)', 262621.61840846227)
('AC', 'ÓLEO DIESEL S-10 (m3)', 254321.53700415057)
('RS', 'ÓLEO DIESEL MARÍTIMO (m3)', 210061.28976574357)
('AC', 'ÓLEO DIESEL S-1800 (m3)', 146948.275)
('RR', 'ÓLEO DIESEL S-1800 (m3)', 140178.2)
('AP', 'ÓLEO DIESEL S-10 (m3)', 118728.27210446329)
('BA', 'ÓLEO DIESEL MARÍTIMO (m3)', 113995.2422269369)
('RO', 'ÓLEO DIESEL MARÍTIMO (m3)', 108047.9701511174)
('PR', 'ÓLEO DIESEL S-1800 (m3)', 105652.46800000001)
('RJ', 'ÓLEO DIESEL (OUTROS ) (m3)', 92484.00299999998)
('SP', 'ÓLEO DIESEL (OUTROS ) (m3)', 78624.95800000001)
('CE', 'ÓLEO DIESEL MARÍTIMO (m3)', 75722.34724488428)
('MA', 'ÓLEO DIESEL S-1800 (m3)', 70998.4)
('MA', 'ÓLEO DIESEL MARÍTIMO (m3)', 69492.83148114954)
('RN', 'ÓLEO DIESEL MARÍTIMO (m3)', 65126.06537820121)
('PR', 'ÓLEO DIESEL MARÍTIMO (m3)', 57059.531670410106)
('PE', 'ÓLEO DIESEL MARÍTIMO (m3)', 36826.38869849882)
('MS', 'ÓLEO DIESEL MARÍTIMO (m3)', 15705.640885617398)
('AL', 'ÓLEO DIESEL MARÍTIMO (m3)', 14656.74452884987)
('SE', 'ÓLEO DIESEL MARÍTIMO (m3)', 12541.467151781211)
('PI', 'ÓLEO DIESEL MARÍTIMO (m3)', 11495.276383728971)
('AP', 'ÓLEO DIESEL MARÍTIMO (m3)', 11450.700291499485)
('PE', 'ÓLEO DIESEL (OUTROS ) (m3)', 9211.0)
('RS', 'ÓLEO DIESEL (OUTROS ) (m3)', 7288.090000000002)
('PE', 'ÓLEO DIESEL S-1800 (m3)', 7136.5)
('AC', 'ÓLEO DIESEL MARÍTIMO (m3)', 5807.050245533248)
('RO', 'ÓLEO DIESEL (OUTROS ) (m3)', 5643.0)
('MT', 'ÓLEO DIESEL (OUTROS ) (m3)', 5483.5)
('ES', 'ÓLEO DIESEL S-1800 (m3)', 4998.105)
('SC', 'ÓLEO DIESEL (OUTROS ) (m3)', 3901.931)
('PR', 'ÓLEO DIESEL (OUTROS ) (m3)', 3405.1859999999997)
('PB', 'ÓLEO DIESEL S-1800 (m3)', 2511.0)
('AM', 'ÓLEO DIESEL (OUTROS ) (m3)', 1446.0)
('PB', 'ÓLEO DIESEL MARÍTIMO (m3)', 1121.258017718248)
('ES', 'ÓLEO DIESEL (OUTROS ) (m3)', 1100.0)
('MG', 'ÓLEO DIESEL (OUTROS ) (m3)', 718.797)
('MS', 'ÓLEO DIESEL (OUTROS ) (m3)', 635.0160000000001)
('PA', 'ÓLEO DIESEL (OUTROS ) (m3)', 570.0)
('MT', 'ÓLEO DIESEL MARÍTIMO (m3)', 522.9055831967518)
('RR', 'ÓLEO DIESEL MARÍTIMO (m3)', 443.0654196625892)
('PI', 'ÓLEO DIESEL S-1800 (m3)', 262.0)
('CE', 'ÓLEO DIESEL (OUTROS ) (m3)', 185.0)
('AL', 'ÓLEO DIESEL S-1800 (m3)', 166.0)
('AC', 'ÓLEO DIESEL (OUTROS ) (m3)', 113.0)
('RR', 'ÓLEO DIESEL (OUTROS ) (m3)', 93.0)
('BA', 'ÓLEO DIESEL (OUTROS ) (m3)', 67.5)
('GO', 'ÓLEO DIESEL (OUTROS ) (m3)', 51.2)
('MG', 'ÓLEO DIESEL MARÍTIMO (m3)', 48.755087540365906)
('GO', 'ÓLEO DIESEL MARÍTIMO (m3)', 31.42418954066097)
('DF', 'ÓLEO DIESEL (OUTROS ) (m3)', 15.442)
('MA', 'ÓLEO DIESEL (OUTROS ) (m3)', 10.0)
('AL', 'ÓLEO DIESEL (OUTROS ) (m3)', 5.0)
('TO', 'ÓLEO DIESEL MARÍTIMO (m3)', 0.4636406756138607)
('DF', 'ÓLEO DIESEL MARÍTIMO (m3)', 0.21369843834131988)
('SE', 'ÓLEO DIESEL S-1800 (m3)', 0.0)
('AP', 'ÓLEO DIESEL (OUTROS ) (m3)', 0.0)
('TO', 'ÓLEO DIESEL (OUTROS ) (m3)', 0.0)
('PI', 'ÓLEO DIESEL (OUTROS ) (m3)', 0.0)
('RN', 'ÓLEO DIESEL (OUTROS ) (m3)', 0.0)
('PB', 'ÓLEO DIESEL (OUTROS ) (m3)', 0.0)
('SE', 'ÓLEO DIESEL (OUTROS ) (m3)', 0.0)